.emailEditForm
  = form_for @email do |f|
    = render 'shared/error_messages', object: f.object
    .checkBoxes.float
      %p.well
        = f.label :active, :class => "label label-info"
        = f.check_box :active
        = f.label :can_receive, :class => "label label-success"
        = f.check_box :can_receive
        = f.label :can_send, :class => "label label-warning"
        = f.check_box :can_send
        = f.label :admin, :class => "label label-inverse"
        = f.check_box :admin
    .float
      %p
        = f.label :email,  "Email prefix"
        = f.text_field :email, :value => @email.prefix
      %p
        = f.label :domain
        = f.collection_select :domain_id, @domains, :id, :name

      %p
        = f.label :alt_email, "Alternative Email"
        = f.text_field :alt_email
      .forward_email_field
        .hidden.forward_email
          = text_field_tag "email[forwards]"
          = button_tag "Remove", :class => "remove_btn btn-danger btn"
        = label_tag(:forward_email,  "Forward forwards")
        - @email.forwards.each do |forward|
          .elem
            = text_field_tag "email[forwards]", forward
            = button_tag "Remove", :class => "remove_btn btn-danger btn"
      .addBtn
        = button_tag "Add Forward", :class => "add_btn btn"
      %p
        = f.label :password
        = f.password_field :password
    .float
      %p
        = f.label :comment
        = f.text_area :comment
      %p
        = f.label :expires_on
        = f.text_field :expires_on
        = f.label :email_path
        = f.text_field :email_path
      %p
        = f.submit :class => "submit_btn btn btn-primary"
  
  